openapi: 3.0.3
info:
  title: Waste Bill Api Guide
  description: Waste bill API documentation.
  version: 0.1.0
  
externalDocs:
  description: "Waste bill Api guide"
  url: https://wastebill.com/api-guide
  
servers:
- url: https://wastebill-api-mock.server
  description: Waste bill api Mock server
  
paths:
  "/login":
     post:
      tags: ["Login: Authentication"]
      summary: Logs in a user with verified credentials
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                emailAddress:
                  type: string
                  description: Email address
                password:
                  type: string
                  description: Password
        required: true
      # frequency, categoryStatus, amount, amountOperator
      responses:
        "200": # 200 Status Code
          description: All went well. Array of data with pagination links
          content:
            application/json: # Reponse is returned in JSON
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: Access token
                  token_type:
                    type: string
                    description: Bearer
                  success:
                    type: bool
                    description: Success status               
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Invalid credentials"
  "/register":
    post:
      tags:
        - Authentication
      summary: User registration
      description: Register a new user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                  description: first  name 
                lastName:
                  type: string
                  description: last name 
                companyName:
                  type: string
                  description: company name 
                emailAddress:
                  type: string
                  description: email address 
                password:
                  type: string
                  description: password 
      responses:
        '201':
          description: Successful registration
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: Access token
                  token_type:
                    type: string
                    description: Bearer
                  success:
                    type: bool
                    description: Success status  
                  data:
                    type: string
                    description: Data of the user who made the registration
        '400':
          description: Validation error                        

  "/tariffs":
    get:
      tags: ["Get all tariffs"]
      summary: Returns all tariffs belonging to a provider. If relevant request body is included the request paramaters would be used in filtering responses
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/tariffFilterParams"
        required: false
      # frequency, categoryStatus, amount, amountOperator
      responses:
        "200": # 200 Status Code
          description: All went well. Array of data with pagination links
          content:
            application/json: # Reponse is returned in JSON
              schema:
                allOf:
                  - $ref: "#/components/schemas/generalResponse"
                  - properties:
                      data:
                        $ref: "#/components/schemas/tariffs"
    post:
      tags: ["Create a new tariff"]
      summary: Create a new tariff category
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/tariffRequest"
        required: true
      responses:
        "200":
          description: A tariff category was created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/generalResponse"
                  - properties:
                      data:
                        $ref: "#/components/schemas/tariffs"
  "/tarrifs/{id}":
    parameters:
    - name: id # Must be same as the value in the {}.
      in: path # Values could be query,cookie, header or path
      description: ID of the tariff Category
      # Since this is in the path, the parameter HAS to be required
      required: true
      # Defining the type of the parameter
      schema:
        # In this case, it is just a number
        type: number
    get:
      tags: ["Get a tariff"]
      summary: Get a single tariff category
      responses:
        "200":
          description: All went well
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/generalResponse"
                  - properties:
                      data:
                        $ref: "#/components/schemas/tariffs"
        "404":
          description: Tarrif not found
          content:
            application/json:
              schema:
                type: object
                properties: {}
    put:
      tags: ["Update a tariff"]
      summary: Update a tariff category
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/generalResponse"
                - properties:
                    data:
                      $ref: "#/components/schemas/tariffs"
        required: false
      responses:
        "200":
          description: All went well
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post"
        "404":
          description: Tariff category not found
          content:
            application/json:
              schema:
                type: object
                properties: {}
    delete:
      tags: ["Delete a tariff"]
      summary: Delete a tariff category
      responses:
        "200":
          description: All went well
          content:
            application/json:
              schema:
                type: object
                properties: {}
        "404":
          description: Tariff category not found
          content:
            application/json:
              schema:
                type: object
                properties: {}
  "/service-locations":
    get:
      tags: ["Get all service locations"]
      summary: Returns all servicelocations belonging to a provider. If relevant request body is included the request paramaters would be used in filtering responses
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/serviceLocationFilterParams"
        required: false
      responses:
        "200": # 200 Status Code
          description: All went well. Array of data with pagination links
          content:
            application/json: # Reponse is returned in JSON
              schema:
                allOf:
                  - $ref: "#/components/schemas/generalResponse"
                  - properties:
                      data:
                        $ref: "#/components/schemas/serviceLocations"
    post:
      tags: ["Create a new service Location"]
      summary: Create a new service location
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/serviceLocationsRequest"
        required: true
      responses:
        "200":
          description: A new service location was created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/generalResponse"
                  - properties:
                      data:
                        $ref: "#/components/schemas/serviceLocations"
  "/service-locations/{id}":
    parameters:
    - name: id # Must be same as the value in the {}.
      in: path # Values could be query,cookie, header or path
      description: ID of the Service location
      # Since this is in the path, the parameter HAS to be required
      required: true
      # Defining the type of the parameter
      schema:
        # In this case, it is just a number
        type: number
    get:
      tags: ["Get a service location"]
      summary: Get a single service location
      responses:
        "200":
          description: All went well
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/generalResponse"
                  - properties:
                      data:
                        $ref: "#/components/schemas/serviceLocations"
        "404":
          description: Service location not found
          content:
            application/json:
              schema:
                type: object
                properties: {}
    put:
      tags: ["Update a service location"]
      summary: Update a service location
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/generalResponse"
                - properties:
                    data:
                      $ref: "#/components/schemas/serviceLocations"
        required: false
      responses:
        "200":
          description: All went well
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serviceLocations"
        "404":
          description: Service location not found
          content:
            application/json:
              schema:
                type: object
                properties: {}
    delete:
      tags: ["Delete a Service location"]
      summary: Delete a service location
      responses:
        "200":
          description: All went well
          content:
            application/json:
              schema:
                type: object
                properties: {}
        "404":
          description: Service location not found
          content:
            application/json:
              schema:
                type: object
                properties: {}
  "/providers":
    post:
      tags: ["Create a new Provider"]
      summary: Create a new Provider
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/providersRequest"
        required: true
      responses:
        "200":
          description: A new Provider was created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/generalResponse"
                  - properties:
                      data:
                        $ref: "#/components/schemas/providers"
                        
  "/providers/{id}":
    parameters:
    - name: id # Must be same as the value in the {}.
      in: path # Values could be query,cookie, header or path
      description: ID of the provider
      # Since this is in the path, the parameter HAS to be required
      required: true
      # Defining the type of the parameter
      schema:
        # In this case, it is just a number
        type: number
    get:
      tags: ["Get a provider"]
      summary: Get a single Provider
      responses:
        "200":
          description: All went well
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/generalResponse"
                  - properties:
                      data:
                        $ref: "#/components/schemas/providers"
        "404":
          description: Provider not found
          content:
            application/json:
              schema:
                type: object
                properties: {}
    put:
      tags: ["Update a service location"]
      summary: Update a Provider
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/generalResponse"
                - properties:
                    data:
                      $ref: "#/components/schemas/providers"
        required: false
      responses:
        "200":
          description: All went well
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/providers"
        "404":
          description: Provider not found
          content:
            application/json:
              schema:
                type: object
                properties: {}                      


#   "/posts":
#     get:
#       tags: ["posts"]
#       summary: Returns all posts.
#       responses:
#         "200": # 200 Status Code
#           description: All went well
#           content:
#             application/json: # Reponse is returned in JSON
#               schema:
#                 $ref: "#/components/schemas/post"
#     post:
#       tags: ["posts"]
#       summary: Create a new post
#       responses:
#         "200":
#           description: A post was created
#           content:
#             application/json:
#               schema:
#                 $ref: "#/components/schemas/post"
   
      
components:
  schemas:
    generalResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates whether the action performed was successful or not
        message:
          type: string
          description: Message returned from the server
        data:
          type: object
          description: Data returned by the operation
          # Use anyOf to allow various schemas to be used here
          anyOf:
            - $ref: '#/components/schemas/tariffs'
            - $ref: '#/components/schemas/post'
            - $ref: '#/components/schemas/serviceLocations'
            # Add more schemas as needed
    post:
      type: object
      properties:
        id:
          type: number
          description: ID of the post
        title:
          type: string
          description: Title of the post
        body:
          type: string
          description: Body of the post
        userId:
          type: number
          description: ID of the user who created the post
    tariffRequest:
      type: object
      properties: 
        name:
          type: string
          description: name of tarrif category e.g Duplex, bungalow etc
        amount:
          type: number
          description: Amount to be paid for this category
        frequency:
          type: number
          description: Billing cycle of how often the category should be billed.Id is from the billing cycle table
        provdier:
          type: number
          description: ID of the provider who created the category
    tariffs:
      type: object
      properties:
        id:
          type: number
          description: ID of the tariff category
        name:
          type: string
          description: name of tarrif category e.g Duplex, bungalow etc
        active:
          type: number
          description: is this category active or not
        rate:
          type: number
          description: Amount to be paid for this category
        billing_cycle_id:
          type: number
          description: Billing cycle of how often the category should be billed.Id is from the billing cycle table
        provider_id:
          type: number
          description: ID of the provider who created the category
    tariffFilterParams: #frequency, categoryStatus, amount, amountOperator
      type: object
      properties: 
        name:
          type: string
          description: name of tarrif category e.g Duplex, bungalow etc
        amount:
          type: number
          description: Amount to be paid for this category
        frequency:
          type: number
          description: Billing cycle of how often the category should be billed.Id is from the billing cycle table
        categoryStatus:
          type: number
          description: Active or inactive
        amountOperator:
          type: number
          description: greater than, less than, equal to etc
    serviceLocationsRequest:
      type: object
      properties: 
        addressLine1:
          type: string
          description: service location stree
        addressLine2:
          type: string
          description: Service location Area
        city:
          type: string
          description: Service location city or town
        state:
          type: string
          description: Service location State
        active:
          type: number
          description: is service location active or not 1 = active 0 = disabled. Default is 1
    serviceLocations:
      type: object
      properties:
        id:
          type: number
          description: ID of the service location
        service_street:
          type: string
          description: street name
        active:
          type: number
          description: is the location active or not
        service_area:
          type: string
          description: service location area
        service_city:
          type: string
          description: service location city or town
        service_state:
          type: string
          description: service location state          
    serviceLocationFilterParams: 
      type: object
      properties: 
        street:
          type: string
          description: service location street
        city:
          type: string
          description: service location city
        state:
          type: string
          description: service location state  
        categoryStatus:
          type: number
          description: Active or inactive
    providersRequest:
      type: object
      properties: 
        companyName:
          type: string
          description: Company or provider name
        companyLogo:
          type: string
          description: file location
        companyEmailAddress:
          type: string
          description: Company email address
        companyPhoneNumber:
          type: string
          description: Company Phone number
        companyContactEmailAddress:
          type: number
          description: Compnay contact email address
        companyContactWhatsappNumber:
          type: string
          description: Company contact whatsapp number
        companyContactPhoneNumber:
          type: string
          description: Company contact phone  number
        companyAlternateContactPhoneNumber:
          type: string
          description: Company alternative contact phone  number
        companyAddressLine1:
          type: string
          description: Company address line 1
        companyAddressLine2:
          type: number
          description: Company address line 2
        companyCity:
          type: string
          description: Company city
        companyState:
          type: number
          description: Company state
    providers:
      type: object
      properties: 
        id:
          type: number
          description: ID of the provider
        provider_name:
          type: string
          description: Company or provider name
        logo_url:
          type: string
          description: file location
        email:
          type: string
          description: Company email address
        phone:
          type: string
          description: Company Phone number
        contact_email:
          type: number
          description: Compnay contact email address
        contact_whatsapp:
          type: string
          description: Company contact whatsapp number
        contact_phone:
          type: string
          description: Company contact phone  number
        contact_alt_phone:
          type: string
          description: Company alternative contact phone  number
        address_1:
          type: string
          description: Company address line 1
        address_2:
          type: number
          description: Company address line 2
        city:
          type: string
          description: Company city
        state:
          type: number
          description: Company state
